#carouselExampleControls [type=button]:not(:disabled), #carouselExampleControls button:not(:disabled) {
    border-radius: 0.25rem;
    border-color: transparent;
    background-color: white;
}

.bg-primary {
    background-color: #b0a216!important;
}

.bg-light {
    background-color: rgba(176, 162, 22, 0.1)!important;
}

.logo {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 150%;
    letter-spacing: 3px;
}

.text-primary {
    color: #8b8111!important;
}
.text-secondary { 
    color: #343a40!important; 
    }

.card {
    border-color:rgba(176, 162, 22, 0.4)!important;
    margin-bottom: 1px;
}

.card-header { 
    background-color: rgba(176, 162, 22, 0.1)!important;    
}

.btn-success, .btn-success:hover {
    background-color: rgba(176, 162, 22, 0.7)!important; 
    border-color: rgba(176, 162, 22, 1)!important;
}

.btn-link, a {
    font-weight: 400;
    color: #8b8111;
    text-decoration: none;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

/* none bootstrap */

@media (min-width: 768px) {
    .whitebig {background-color: white}
 }

