.bg-primary {
    background-color: #b0a216!important;
}

.bg-light {
    background-color: rgba(176, 162, 22, 0.1)!important;
}

.logo {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 150%;
    letter-spacing: 3px;
}

.text-primary {
    color: #8b8111!important;
}

.card {
    border-color:rgba(176, 162, 22, 0.4)!important;
}

.card-header { 
    background-color: rgba(176, 162, 22, 0.1)!important;    
}

.btn-success, .btn-success:hover {
    background-color: rgba(176, 162, 22, 0.7)!important; 
    border-color: rgba(176, 162, 22, 1)!important;
}