.bg-primary {
    background-color: #b0a216!important;
}

.bg-light {
    background-color: rgba(176, 162, 22, 0.1)!important;
}

.logo {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 150%;
    letter-spacing: 3px;
}